/* 
   This document has been created with Marked.app <http://markedapp.com>, Copyright 2011 Brett Terpstra
   Please leave this notice in place, along with any additional credits below.
   ---------------------------------------------------------------
   Title: Bootstragram Marked
   Author: Your name and optional url
   Description: Basic description of the theme.
*/

//@import "compass/reset";
@import "_marked_default";
@import "_main";
